@model AddIngredientViewModel
@{
    ViewData["Title"] = "AddIngredient";
}

<h4>Add Ingredient</h4>
<div>
    <form asp-controller="Ingredients" asp-action="AddIngredient">
        <input placeholder="Ingredient name..." asp-for="@Model.Name" class="form-control col-md-4">
        Ingredient type:
        <select asp-for="@Model.Type">
            <option value="alcoholic">Alcoholic</option>
            <option value="sweetener">Sweetener</option>
            <option value="juice">Juice</option>
            <option value="herb">Herb</option>
        </select>
        <br>
        <button class="btn" style="background-color:#ff0000; color:white"/>Add
    </form>
</div>


