@model IngredientsViewModel
@{
    ViewData["Title"] = "ManageIngredients";
}

<h3>Manage Ingredients</h3>
<div>
    <form asp-controller="Ingredients" asp-action="ManageIngredients">
        <div class="row">
            <input class="form-control col-md-4" placeholder="Ingredient name..." type="text" asp-for="Input" />
            <button class="btn" style="background-color:#ff0000; color:white" />Search
        </div>
    </form>
</div>

@if (Model != null)
{
    <br>
    <h5>Search Results:</h5>
    <div asp-validation-summary="All" class="text-danger"></div>


    if (!(Model.Ingredients.Count == 0))
    {

        <table class="table table-hover col-md-10">
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>

            @foreach (var ingredient in Model.Ingredients)
            {
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.Type</td>
                    <td>
                        <a asp-controller="Ingredients" asp-action="UpdateIngredient" asp-route-id="@ingredient.ID">Update</a>
                    </td>
                    <td> <a asp-controller="Ingredients" asp-action="DeleteIngredient" asp-route-id="@ingredient.ID">Delete</a></td>
                </tr>
            }

        </table>
    }
}